<div class="sidebar">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="nav-link">
                    <span class="link-text logo-text">SkyLivings</span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
                        <g class="fa-group">
                            <path fill="currentColor"
                                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                                class="fa-secondary"></path>
                            <path fill="currentColor"
                                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                                class="fa-primary"></path>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="/rooms?page=1&limit=12" class="nav-link">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 33 33" xml:space="preserve">
                        <g>
                            <path fill="currentColor" class="fa-primary"
                                d="M15.199,3.287v8.626c0,1.815-1.473,3.286-3.286,3.286H3.286C1.473,15.199,0,13.728,0,11.913V3.287C0,1.472,1.473,0,3.286,0
             h8.627C13.729,0,15.199,1.472,15.199,3.287z M29.714,0h-8.627c-1.813,0-3.286,1.472-3.286,3.287v8.626
             c0,1.815,1.473,3.286,3.286,3.286h8.627c1.813,0,3.286-1.471,3.286-3.286V3.287C33,1.472,31.527,0,29.714,0z M11.913,17.801H3.286
             C1.473,17.801,0,19.271,0,21.087v8.627C0,31.527,1.473,33,3.286,33h8.627c1.813,0,3.286-1.473,3.286-3.286v-8.627
             C15.199,19.271,13.729,17.801,11.913,17.801z M29.714,17.801h-8.627c-1.813,0-3.286,1.471-3.286,3.286v8.627
             c0,1.813,1.473,3.286,3.286,3.286h8.627C31.527,33,33,31.527,33,29.714v-8.627C33,19.271,31.527,17.801,29.714,17.801z" />
                        </g>
                    </svg>


                    <span class="link-text">Collections</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/contact" class="nav-link">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
                        style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                        <path fill="currentColor" class="fa-secondary" d="M197.778,76.425l-63.604-63.602c-16.798-17.098-46.798-17.098-63.896,0L60.075,23.325
           c-0.363,0.363-11.096,10.932-11.096,11.4c-5.402,5.7-5.105,15,0.597,20.4l105.901,105.899c5.401,6.006,15.597,6.002,21.002,0
           l21.299-21.299C214.89,123.203,215.933,93.951,197.778,76.425z" />
                        <path fill="currentColor" class="fa-secondary" d="M498.723,377.978l-63.6-63.6c-16.798-17.098-46.498-17.098-63.3,0l-10.499,10.801l-10.8,10.499
           c-5.999,5.7-5.999,15.3,0,21l106.201,106.199c5.184,5.772,15.059,6.236,21.299,0l10.199-10.499l10.499-10.8
           C516.426,424.18,516.426,395.379,498.723,377.978z" />
                        <path fill="currentColor" class="fa-primary" d="M488.224,452.38l-10.199,10.499c-81.899,73.801-177.601,56.1-231.599,1.8L47.477,265.125
           c-63.303-63.001-63.303-165.901,0-229.2c0.3,0,2.699-2.401,2.699-2.699l9.899-9.901l126.899,126.899l-5.999,6.301l-4.497,4.499
           c-9.602,10.501-17.402,17.1-17.402,31.8c0,9.3,3.6,17.701,9.902,24.3l50.098,50.101l75.345,75.954c12.902,12.9,35.402,12.9,48.303,0
           l7.8-7.5l10.8-10.499L488.224,452.38z" />
                        <path fill="currentColor" class="fa-primary"
                            d="M361.324,325.18l126.899,127.2l-10.199,10.499c-81.899,73.801-177.601,56.1-231.599,1.8
           L134.474,352.124c0-0.298,0-0.298,0-0.298l84.602-84.6l75.345,75.954c12.902,12.9,35.402,12.9,48.303,0l7.8-7.5L361.324,325.18z" />

                    </svg>
                    <span class="link-text">Contact</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <svg height="512pt" viewBox="0 -32 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
                        <path class="fa-primary"
                            d="m298.667969 106.667969c0 58.910156-47.757813 106.664062-106.667969 106.664062s-106.667969-47.753906-106.667969-106.664062c0-58.910157 47.757813-106.667969 106.667969-106.667969s106.667969 47.757812 106.667969 106.667969zm0 0"
                            fill="currentColor" />
                        <path class="fa-secondary"
                            d="m282.667969 256h-181.335938c-55.871093 0-101.332031 45.460938-101.332031 101.332031v74.667969c0 8.832031 7.167969 16 16 16h352c8.832031 0 16-7.167969 16-16v-74.667969c0-55.871093-45.460938-101.332031-101.332031-101.332031zm0 0"
                            fill="currentColor" />
                        <g fill="currentColor">
                            <path class="fa-secondary"
                                d="m458.667969 213.332031h-138.667969c-11.796875 0-21.332031-9.554687-21.332031-21.332031s9.535156-21.332031 21.332031-21.332031h138.667969c11.796875 0 21.332031 9.554687 21.332031 21.332031s-9.535156 21.332031-21.332031 21.332031zm0 0" />
                            <path class="fa-secondary"
                                d="m506.902344 180.265625-74.667969-69.332031c-3.007813-2.796875-6.933594-4.246094-10.878906-4.246094-10.582031 0-16.023438 9.003906-16.023438 15.980469v138.664062c0 8.875 7.210938 16 16 16 3.96875 0 7.875-1.46875 10.902344-4.265625l74.667969-69.332031c3.242187-3.03125 5.097656-7.296875 5.097656-11.734375s-1.855469-8.703125-5.097656-11.734375zm0 0" />
                        </g>
                    </svg>
                    <span class="link-text">Login</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/login" class="nav-link">
                    <svg height="512pt" viewBox="0 -11 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
                        <path class="fa-secondary"
                            d="m288 378.667969c0-28.800781 17.644531-53.527344 42.667969-64v-5.335938c0-12.96875 3.132812-25.128906 8.339843-36.160156-16.128906-10.816406-35.5-17.171875-56.339843-17.171875h-181.335938c-55.871093 0-101.332031 45.460938-101.332031 101.332031v74.667969c0 8.832031 7.167969 16 16 16h272zm0 0"
                            fill="currentColor" />
                        <path class="fa-primary"
                            d="m298.667969 106.667969c0 58.910156-47.757813 106.664062-106.667969 106.664062s-106.667969-47.753906-106.667969-106.664062c0-58.910157 47.757813-106.667969 106.667969-106.667969s106.667969 47.757812 106.667969 106.667969zm0 0"
                            fill="currentColor" />
                        <path class="fa-secondary"
                            d="m474.667969 341.332031h-117.335938c-20.585937 0-37.332031 16.746094-37.332031 37.335938v74.664062c0 20.589844 16.746094 37.335938 37.332031 37.335938h117.335938c20.585937 0 37.332031-16.746094 37.332031-37.335938v-74.664062c0-20.589844-16.746094-37.335938-37.332031-37.335938zm0 0"
                            fill="currentColor" />
                        <path class="fa-primary"
                            d="m416 256c-29.417969 0-53.332031 23.9375-53.332031 53.332031v32h32v-32c0-11.753906 9.554687-21.332031 21.332031-21.332031s21.332031 9.578125 21.332031 21.332031v32h32v-32c0-29.394531-23.914062-53.332031-53.332031-53.332031zm0 0"
                            fill="currentColor" />
                    </svg>
                    <span class="link-text">Admin</span>
                </a>
            </li>



            <li class="nav-item" id="themeButton">
                <a href="#" class="nav-link">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path fill="currentColor" class="fa-primary" d="M512,255.843L299.221,22.522v139.202h-45.238C113.712,161.724,0,275.437,0,415.708v73.77
  l20.094-22.016c68.318-74.853,164.981-117.5,266.324-117.5h12.803v139.202L512,255.843z" />
                        <path fill="currentColor" class="fa-secondary" d="M0,415.708v73.77l20.094-22.017c68.318-74.853,164.981-117.5,266.324-117.5h12.803v139.202
  L512,255.843H56.635C21.228,299.497,0,355.12,0,415.708z" />
                    </svg>

                    <span class="link-text">Share</span>
                </a>
            </li>
        </ul>
    </nav>

</div>