:root {
  
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}


body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #c69963;
}


.navbar::-webkit-scrollbar {
    width: 0rem;
  }
  
.navbar::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
.navbar::-webkit-scrollbar-thumb {
    background: #1e1e24;
  }
  

.navbar::-webkit-scrollbar:horizontal {
    width: 0rem;
    height: 0rem;
  }
  
.navbar::-webkit-scrollbar-track:horizontal {
    background: #1e1e24;
  }
  
.navbar::-webkit-scrollbar-thumb:horizontal {
    background: #1e1e24;
  }
  


.navbar {
  margin-top: 7rem;
  position: fixed;
  z-index: 9999;
  background-image: linear-gradient(rgba(16, 29, 44, 1), rgba(16, 29, 44, 1));
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}



.nav-link {
  display: flex;
  align-items: center;
  height: 8rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1.6rem;
  font-size: 1.6rem;
}

.nav-link svg {
  width: 3.2rem;
  min-width: 3.2rem;
  margin: 0 2.4rem;
}

.fa-primary {
  color:#c69963 ;
}

.fa-secondary {
  color: #B28451;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 2.4rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.darrow svg{
  margin-right: 20px;
  width: 1.6rem;
  min-width: 1.6rem;
 
}
/* Small screens */
@media only screen and (max-width: 31.25em) {
  .navbar {
    top: 0;
    width: 7rem;
    height: 100%;
    margin-top: 11rem;
    
  }

  .navbar:hover {
    width: 25.6rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 17.6rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 8rem;
    height: 100%;
  }

  .navbar:hover {
    width: 25.6rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 17.6rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}


